.dropDownList {
    list-style: none;
    z-index: 1000;
    background: #fff;
    color: #000;
    width: 100%;
    padding: 0;
    margin: 0;
}

.dropDown_item {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 13px;
    cursor: pointer;
}

.dropDown_item:hover {
    background: #e8e8e8;
}

.selected {
    background: #a0a0a0;
}

.selected:hover {
    background: #a0a0a0;
}